<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwafeer</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <div class="nav-hero">
        <div class="container-fluid">
          <div class="d-flex flex-wrap justify-content-between align-items-center py-2">
            <div class="header-info d-flex align-items-center">
              <a href="signup.html" class="mx-3 p-2 rounded-pill secondary-bg text-white text-decoration-none"> اشترك الان مجانا </a>
              <a href="login.html" class="mx-3 p-2 text-decoration-none text-dark"> تسجيل الدخول <i class="fa-solid fa-lock mx-2"></i> </a>
            </div>
            <div>
              <ul class="navbar-nav me-auto my-2 mb-lg-0 d-flex flex-row align-items-center">
                <li class="nav-item px-2">
                  <a class="nav-link position-relative" aria-current="page" href="course-cart.html">
                      <i class="fa-solid fa-cart-shopping primary-color fa-lg"></i>
                      <span class="position-absolute bg-white fw-bold rounded-pill">1</span>
                  </a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link primary-color" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link primary-color" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link primary-color" href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link primary-color" href="#"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link primary-color" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
              </ul>  
            </div>
          </div> 
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light primary-bg sec-nav shadow-sm">
        <div class="container-fluid nav_content">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
				<a class="nav-link" href="../index.html">الرئيسية</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="about.html">من نحن</a>
				</li>
				<li class="nav-item">
				<a class="nav-link active" href="courses.html">دوراتنا</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="blogs.html">المدونة</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">حساب التنسيق</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">تحقق من الشهادة</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">صانع CV</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="policies.html">سياساتنا</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="contact.html">تواصل معنا</a>
				</li>
				<li class="nav-item">
					  <div class="header-info d-flex align-items-center">
					  <a href="books.html" class="mx-3 p-2 rounded-pill secondary-bg text-white text-decoration-none">متجر الكتب</a>
					  </div>
				</li>
            </div>
        </div>
    </nav>

    <img src="../img/bg-header.svg" class="position-absolute header_layout" alt="">

    <div class="questions">

        <div class="hero_sec pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img h-100 d-flex">
                            <img src="../img/questions.svg" class="img-fluid m-0" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <img src="../img/completed-bg.svg" class="position-absolute img-fluid" alt="">
                        <div class="info position-relative py-5">
                            <h2 class="title py-3 pb-1 fw-bold secondary-color text-center"> محاسبة مالية </h2>
                            <h3 class="text-white fw-bold text-center mb-4">الأختبارات</h3>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="persons mx-3">
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up position-relative">
                                          <img src="../img/user4.png" alt="Avatar" class="rounded-circle w-100 h-100" />
                                        </li>
                                        <li class="avatar avatar-xs pull-up position-relative">
                                          <img src="../img/user1.png" alt="Avatar" class="rounded-circle w-100 h-100" />
                                        </li>
                                        <li class="avatar avatar-xs pull-up position-relative">
                                          <img src="../img/user2.png" alt="Avatar" class="rounded-circle w-100 h-100" />
                                        </li>
                                        <li class="avatar avatar-xs pull-up position-relative">
                                          <img src="../img/user3.png" alt="Avatar" class="rounded-circle w-100 h-100" />
                                        </li>
                                        <li class="avatar avatar-xs pull-up position-relative">
                                          <span class="rounded-circle w-100 h-100 bg-white d-flex justify-content-center align-items-center">+2</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="followers_number mx-3">
                                    <p class="text-white mb-1">5 مستخدمين  </p>
                                    <p class="text-white mb-0">يتابعون هذه الدورة القادمة</p>
                                </div>
                            </div>
                            <div class="ratings d-flex justify-content-center my-4">
                                <span class="text-white mx-4 fw-bold">(15) 4.5</span>
                                <div class="stars">
                                    <img src="../img/emptyStar.png" alt="">
                                    <img src="../img/Star.svg" alt="">
                                    <img src="../img/Star.svg" alt="">
                                    <img src="../img/Star.svg" alt="">
                                    <img src="../img/Star.svg" alt="">
                                </div>
                            </div>
                            <div class="form-check d-flex justify-content-center p-0" style="font-size: 14px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label me-5 text-white" for="flexCheckChecked">
                                    أرغب في تلقي بريد إلكتروني من دوافير والتعرف على العروض الأخرى المتعلقة بالمحاسبة
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <h2 class="primary-color fw-bold">اختبار المحاسبة</h2>
            <p class="lec_num mb-0">محاضرة 01/03</p>
            <p style="font-size:14px;color:#BDBDBD">أجب عن الأسئلة أدناه</p>

            <form class="shadow-sm rounded p-4 mt-3">
    
                <div class="que_box active mb-5 p-4 rounded shadow-sm">
                    <div class="que_head">
                        1. لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات .
                    </div>
                    <hr style="color: #E8E8E8;">
                    <ol class="que_answer">
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que1_answer" value="a" class="d-none"  id="que1_ans1">
                            <label for="que1_ans1" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que1_answer" value="b" class="d-none"  id="que1_ans2" checked>
                            <label for="que1_ans2" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que1_answer" value="c" class="d-none"  id="que1_ans3">
                            <label for="que1_ans3" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que1_answer" value="d" class="d-none"  id="que1_ans4">
                            <label for="que1_ans4" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                    </ol>
                </div>
    
                <div class="que_box mb-5 p-4 rounded shadow-sm">
                    <div class="que_head">
                        2. لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات .
                    </div>
                    <hr style="color: #E8E8E8;">
                    <ol class="que_answer">
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que2_answer" value="a" class="d-none"  id="que2_ans1">
                            <label for="que2_ans1" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que2_answer" value="b" class="d-none"  id="que2_ans2">
                            <label for="que2_ans2" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que2_answer" value="c" class="d-none"  id="que2_ans3">
                            <label for="que2_ans3" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                        <li class="rounded my-3 py-2">
                            <input type="radio" name="que2_answer" value="d" class="d-none"  id="que2_ans4">
                            <label for="que2_ans4" class="p-2 rounded">
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا .
                            </label>
                        </li>
                    </ol>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn secondary-bg text-white px-3"> ارسال <img src="../img/icons/send.png" width="20" class="mx-3" alt=""> </button>
                </div>
            </form>
        </div>
    </div>


    <footer class="primary-bg pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="subscribe w-75">
                        <h4 class="text-white"> اشترك فى نشرتنا الاخبارية </h4>
                        <p class="text-white py-3"> سجل ايميلك ليصلك كل ما هو جديد عن دورات وتخفيضات دوافير </p>
                        <form action="">
                            <input type="email" class="form-control p-3" placeholder="البريد الألكتروني" required>
                            <div>
                                <button type="submit" class="btn rounded-pill secondary-bg text-white my-4">اشترك الان</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-6">
                    <div class="footer_categories">
                        <h4 class="text-white">المسارات النشطة</h4>
                        <ul class="list-unstyled p-0">
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">التصميم</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">تطوير</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">تسويق</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">تجارة و اعمال</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">اسلوب الحياه</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">التصوير</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">موسيقي</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <div class="footer_categories">
                        <h4 class="text-white">اكتشف</h4>
                        <ul class="list-unstyled p-0">
                            <li class="py-2"><a href="../index.html" class="text-white text-decoration-none">الرئيسية</a></li>
                            <li class="py-2"><a href="about.html" class="text-white text-decoration-none">من نحن</a></li>
                            <li class="py-2"><a href="courses.html" class="text-white text-decoration-none">الدورات</a></li>
                            <li class="py-2"><a href="books.html" class="text-white text-decoration-none">متجر الكتب</a></li>
                            <li class="py-2"><a href="#" class="text-white text-decoration-none">المدونة</a></li>
                            <li class="py-2"><a href="contact.html" class="text-white text-decoration-none">تواصل معنا</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-12">
                    <div class="contact text-white">
                        <div class="logo"><a href="../index.html"><img src="../img/logo.png" alt=""></a></div>
                        <h4 class="text-white pb-2">تواصل معنا</h4>
                        <p>
                            <a href="tel:01287848630" class="text-white text-decoration-none"><i class="fa-solid fa-phone-flip ms-2"></i> 0227537567 </a>
                        </p>
                        <p>
                            <a href="tel:01287848630" class="text-white text-decoration-none"><i class="fa-solid fa-mobile-screen ms-2"></i> 01287848630 </a>
                        </p>
                        <p class="mt-1"><i class="fa fa-envelope ms-2"></i> example@mail.com</p>

                        <div class="social">
                            <ul class="list-unstyled d-flex w-100 m-0 p-0">
                                <li>
                                    <a href="#" class="d-flex justify-content-center align-items-center bg-white rounded-circle text-decoration-none mx-2">
                                        <i class="fa-brands fa-facebook-f fa-lg primary-color"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-center align-items-center bg-white rounded-circle text-decoration-none mx-2">
                                        <i class="fa-brands fa-whatsapp fa-lg primary-color"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-center align-items-center bg-white rounded-circle text-decoration-none mx-2">
                                        <i class="fa-brands fa-instagram fa-lg primary-color"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-center align-items-center bg-white rounded-circle text-decoration-none mx-2">
                                        <i class="fa-brands fa-youtube fa-lg primary-color"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-center align-items-center bg-white rounded-circle text-decoration-none mx-2">
                                        <i class="fa-brands fa-x-twitter fa-lg primary-color"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>  
    <script src="../js/bootstrap.bundle.min.js"></script>  
    <script src="../js/swiper-bundle.min.js"></script>  
    <script src="../js/main.js"></script> 
</body>
</html>