@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
    --primary: #5750a0;
    --secondary: #F47C2C;
    --tertiary: #4ca0a3;
    --gray-text:#52565C;
    --gray-bg:#F1F2F8;
}
*{font-family: "Cairo", sans-serif;}
body{background-color: #f4f4f4;}
.primary-bg,.primary-bg:hover{background-color: var(--primary);}
.primary-color{color: var(--primary);}
.secondary-bg,.secondary-bg:hover, .secondary-bg:active{background-color: var(--secondary) !important;}
.secondary-color{color: var(--secondary);}
.tertiary-color{color: var(--tertiary);}
.tertiary-bg,.tertiary-bg:hover{background-color: var(--tertiary);}
.star-color{color: #FFA033;}
.section_title{font-size: 47px;}
.form-check-input:checked {background-color: var(--secondary);border-color: var(--secondary);}
.form-control:focus{box-shadow: 0 0 0 0;border: 1px solid var(--secondary);}

.header_layout{top: 0;left: 0;z-index: 0;}
.navbar{z-index: 1;}
.nav-hero a, .navbar a{z-index: 2;position: relative;}
.nav-hero{background-color: #E9ECF4;}
.nav-hero li a span{font-size: 12px;padding: 1px 7px;top: -5px;right: -9px;box-shadow: 0 0 1px #9d9d9d;}
.navbar-brand img{height: 70px;}
.navbar .nav-link{font-size: 16px;font-weight: 600;}
.navbar .nav-link.book-store:hover{cursor: pointer;background-color: var(--primary);color: #fff;}
.navbar .active{color: var(--primary) !important;}
.navbar .active::before{    
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -20px;
  right: 0;
  background-color: var(--secondary);
  box-shadow: 0 0 6px var(--secondary);
}

.hero_sec{background-color: var(--tertiary);}
.hero_sec .row{position: relative;}
.hero_sec .desc{font-size: 30px;line-height: 72px;}
.hero_sec .scetch-vector{top: 40px;width: 70px;}
.hero_sec .pencil-vector{top: 140px;right: 80px;width: 50px;}
.hero_sec .book-vector{width: 250px;bottom: -95px; right: -35px;}

.workWay {background-image: url(../img/workWay.png);background-size: 100% 100%;background-repeat: no-repeat;border-radius: 24px;}
.workWay #myVideo{max-height: 450px !important;object-fit: cover;border-radius: 20px;}
.workWay .play-icon{cursor: pointer;top:50%; left: 50%;transform: translate(-50%, -50%); width: 55px; height: 55px;color: #fff;border: 4px solid;}
.workWay .workWay__content .info{border-radius: 20px;}

.testimonials article{transform: scale(0.9) !important;border-radius: 24px;}
.testimonials article.swiper-slide-next{transform: scale(1) !important;}
.testimonials .card__image img{max-width: 100px;border-radius: 50%;}
.testimonials .swiper-slide{background-image: url(../img/testimonials-bg3.png);background-size: 100% 100%;background-repeat: no-repeat;}
.testimonials article{padding: 32px 15px;font-size: 14px}

.trainers .social a{background-color: #9C9C9C;}
.trainers .social a:hover{background-color: var(--tertiary);}

.paths :is(article, img){border-radius: 24px;cursor: pointer;}
.paths .card__img{height: 200px;overflow: hidden;}
.paths .card__img img{transition: all 0.5 ease-in-out;}
.paths .card__img:hover img{transform: scale(1.07);}

.popular-courses .card__description,
.nominated-courses .card__description
{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.popular-courses .card__article,
.nominated-courses .card__article{background-color: #fff;}
.join_us .title{font-size: 35px;}

.about .partners img{border: 4px dashed var(--tertiary);border-radius: 50%;}
.about .partner_name{display: none;}
.about .partners img:hover .partner_name{display: block;}

footer{overflow: hidden;background-image: url(../img/footer-bg.svg);background-size: cover;background-repeat: no-repeat;}
footer .layout{top: 0;left: 0;height: 100%;width: 100%;background-color: #000000cc;}
footer .logo{margin: 0 0 22px;}
footer .logo img{width: 150px;}
footer .social a{height: 40px;width: 40px;}
footer .social a:hover{background-color: #4ca0a3 !important;}


/* ============ policies =================== */
.header {background-color: var(--tertiary);padding: 100px 0;background-image: url(../images/store_bd.png);}
.header h1{font-size: 70px;}
.header p{font-size: 20px;}

.policies{background-color: #f4f4f4a6;}
.policy-card{box-shadow: 0 1px 8px #ccccccbd;padding: 25px 20px 10px;}

/* ============== login / signup ============== */
.welcome{height: 100vh;background-image: url(../img/bg.jfif);background-size: 100% 100%;}
/* .register:is(.login,.sign_step1,.sign_step2,.sign_step3) .welcome{height: 100%;} */
.welcome .logo{z-index: 1;top: 20px;right: 30px;max-width: 130px;}
.welcome .layout{top: 0;left: 0;height: 100%;width: 100%;background-color: #4ca0a3d6;z-index: 0;}
.welcome .data{z-index: 1;}
.register{background-color: #f4f4f4;}
.register .info{border-radius: 20px;border: 1px solid #eee;}
.register .info .polygon {
  width: 60px;
  aspect-ratio: 1;
  clip-path: polygon(79.39% 90.45%,20.61% 90.45%,2.45% 34.55%,50% 0%,97.55% 34.55%);
  background-color: #fffbf5;
  color: var(--secondary);
  transition: all .3s ease-in-out;
}
.register .info{background-color: #fff;}
.register .info:hover{background-color: #fffbf5;border: 1px solid var(--secondary);}
.register .info:hover a{display: block !important;}
.register .info:hover .polygon{background-color: var(--secondary);color: #fff;}
.register :is(p,label){color: #696F79;}
.register input:focus{border: 1px solid var(--secondary);box-shadow: 1px 2px 8px #c5c5c5;}


.register .phone_feild{display: none;}
.register .form .toggle{background-color: #F1EFEF;border-radius: 20px;}
.register .form .toggle button{color: var(--secondary);}
.register .form .toggle :is(button:focus-visible, button:active){color: var(--secondary);background-color: #F1EFEF;border: 0;}
.register .form .toggle .active{color:#fff;background-color: var(--secondary);border-radius: 20px;border: 0;}

.register :is(.verification_number,.timer){padding: 0 112px;}
.register .verification_number input{color: #75797C;border: 0;border-bottom: 1px solid #ABACAC;border-radius: 0;font-size: 34px;}
.register .verification_number input:focus{box-shadow: 0 0 0;}
.register .bootstrap-select .dropdown-toggle .filter-option{text-align: right;}
.register .bootstrap-select>.dropdown-toggle.bs-placeholder{color: #000;background: #fff;border: 1px solid #ddd;padding: 15px 9px;}
.register .dropdown-item{text-align: right;}

.register.sign_step1 .iti{width: 100%;}
.register.sign_step1 .iti__country-list{position: relative;}
.register.sign_step1 .iti__selected-flag{justify-content: end;}
.register.sign_step1 .iti__arrow{margin-right: 10px;}
.register.sign_step1 .iti--allow-dropdown input{padding-left: 70px !important;}
.register.sign_step3 .img_box{background-color: #ffecdf;width: 100%;padding: 30px;}
.register.sign_step3 .choose_img {cursor: pointer;}
.register.sign_step3 .choose_img input{width: 115px;height: 43px;opacity: 0;cursor: pointer;}
.register.sign_step3 .choose_img div{border: 2px solid var(--secondary);width: 115px;height: 43px;}
.register.sign_step3 .choose_img div:hover{background-color:var(--secondary);color: #fff;}

.register.sign-completed .img-back{width: 203px;height: 203px;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: -1;}
.overSelect {left: 0;right: 0;top: 0;bottom: 0;}
.checkboxes {display: none;border: 1px #dadada solid;}
.checkboxes label {display: block;}
.checkboxes label:hover {background-color: #aeaeae1c;}

/* ============== books =============== */
section.books .hero_sec p{font-size: 35px;}
.books_list .card__image img{border-radius: 20px;}
.books_list .cd-img{bottom: 16px;right: 26px;z-index: 99;width: 65px;}
.books_list .btn{border: 1px solid var(--secondary);}
.books_list .btn:hover{background-color: var(--secondary);color: #fff;}
.books_list .desc{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.books_list li{font-size: 20px;}
.books_list .reading{background-color: #ffecdf;}

/* ============== about =============== */
section.about {overflow-x: hidden;}
section.about :is(.intro,.aim) h2::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -20px;
  right: 0;
  border-radius: 30px;
  background-color: var(--secondary);
  box-shadow: 0 0 6px var(--secondary);
}
section.about .statistics{background-color: #F9F9F9;border-radius: 24px;}
section.about .aim h2::before{width: 70px;}
section.about .aim button{background-color: #FFEDE1;}
section.about .story img{height: 50px;}
section.about{z-index: 1;}

/* ================= courses =============== */
section.coursesPage .hero_sec .info .content{line-height: 2.8;font-size: 18px;}
section.coursesPage .filter :is(.category,.trainers,.rating,.coursesFilter,.prices, .dateFilter){box-shadow: 0 0 5px #d1d1d1;border-radius: 12px !important;}
section.coursesPage .filter .category p{font-size: 18px;color: var(--gray-text);}
section.coursesPage .filter .category span{font-size: 12px;color: #796F6F;}
section.coursesPage .filter .trainers ul{height: 160px;overflow-y: scroll;}
section.coursesPage .filter .trainers ul::-webkit-scrollbar {width: 5px;}
section.coursesPage .filter .trainers ul::-webkit-scrollbar-track {background: hsl(0, 0%, 92%);width: 4px; }
section.coursesPage .filter .trainers ul::-webkit-scrollbar-thumb {background-color: #C4C4C4;border-radius: 20px; border: 3px solid #C4C4C4;}
section.coursesPage .select2-container--default .select2-selection--single{border: 1px solid var(--secondary);}
section.coursesPage .select2-container--default .select2-selection--single {height: 40px;display: flex;align-items: center;}
section.coursesPage article p{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
section.coursesPage .course_content h3 img{bottom: -19px;right: 0;}
section.coursesPage .cardShape{background-color: #D8D8D8;cursor: pointer;}
section.coursesPage .cardShape.active{background-color: var(--secondary);}
section.coursesPage #paginationCard .card_category{top: 18px;left: 18px;z-index: 99;background-color: #ffecdf8c;}
section.coursesPage #paginationCard .card__img{object-fit: cover;border-radius: 6px;}
.course-content-page :is(.lec-title,.content-lec h3)::before{    
  content: '';
  display: block;
  position: absolute;
  width: 130px;
  height: 3px;
  bottom: -20px;
  right: 0;
  background-color: var(--secondary);
  box-shadow: 0 0 3px var(--secondary);
}

.course-content-page :is(.content-lec h3)::before {
  width: 55px;
  bottom: -10px;
}

/* =================== contact =============== */
.contact-us{z-index: 1;}
.contact-us .hero_sec{background-image: url(../img/contact-bg.svg);background-size: cover;background-repeat: no-repeat;height: 300px;}
.contact-us .hero_sec h4{left: 50%; transform: translateX(-50%);border-radius: 24px 24px 0 0;}
.contact-us .icons img{background-color: #ffecdf;}
.contact-us .que{background-color: #ffecdf;}
.contact-us li{position: relative;}
.contact-us .collapseQue{color: #1B3764;}
.contact-us .collapse .card-body {background-color: transparent;border: 0;color: #969AA0;}
.contact-us li::marker{color: var(--secondary);}
.contact-us .que ul{border-bottom: 1px solid #cdd8ea;padding-bottom: 18px;margin: 0 30px 18px 70px;}
.contact-us .queText{direction: ltr;}
.contact-us .queText p{direction: rtl;}
.contact-us .social a{width: 40px;height: 40px;transition: all .3s ease-in-out;}
.contact-us .social a:hover{background-color: #fff;color: var(--primary) !important;}
.contact-us form input{border: 0;border-bottom: 1px solid;border-radius: 0;background: transparent;}
.contact-us form input:focus{border: 0;border-bottom: 1px solid var(--secondary);}

/* =============== book_details ============== */
.book_details .advantages{background-color: #ffecdf;}
.book_details .advantages img{width: 40px;height: 40px;}
.book_details .bookImg{max-width: 300px;}

/*********** blogs ************ */
.blogs .reset_btn:hover{background-color: var(--secondary);color: #fff;}
.blogs .card-text{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}

.blog-details .play-icon{top:50%; left: 50%;transform: translate(-50%, -50%); width: 55px; height: 55px; background-color: #292929c9;}
.blog-details .card{overflow: hidden;}
.blog-details .card img{transition: all .3s ease-in-out;}
.blog-details .card:hover .card-img-top{transform: scale(1.06) rotate(0deg);}
.blog-details .header img{border-radius: 24px;max-height: 400px;}

/* ============== cart =============== */
.cartPage :is(.pay_methods,.payment, .course_content, .course_price){border-radius: 24px;}
.cartPage .select2-container--default .select2-selection--single{height: 40px;padding: 3px 0;border: 1px solid #ddd;}
.cartPage .visaForm input[type="radio"]:checked + label {border: 2px solid var(--secondary);}
.cartPage .img_box{border: 2px dashed #000;width: 80%;height: 150px;}
.cartPage .choose_img input{width: 115px;height: 43px;opacity: 0;}
.cartPage .course_content p.desc{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.cartPage .pay_methods label{width: 110px;height: 55px;display: flex; justify-content: center;align-items: center;cursor: pointer;}
.course-content-page .nav-tabs{border-bottom: 3px solid #ddd; color: #000;}
.course-content-page .nav-tabs .active span{color: var(--primary) !important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: transparent;}

.accordion-button:focus{box-shadow: 0 0 0;}
.accordion-button::after, .accordion-button:not(.collapsed)::after{margin: 0 auto 0 0;}
.course-content-page .video_parent{height: 300px;}
.course-content-page .play-icon{cursor: pointer;top:50%; left: 50%;transform: translate(-50%, -50%); width: 55px; height: 55px; background-color: #292929c9;}
:is(.course-content-page,.coursesPage,.questions) .hero_sec{
  background-image: url(../img/course-content-bg.svg); 
  background-size:cover; 
  background-repeat: no-repeat;
  background-position: center;
}
:is(.course-content-page,.coursesPage, .questions) .hero_sec .layout{top: 0;left: 0;width: 100%;height: 100%; background-color: #000000bd;}

/* ================= questions =============== */
:is(.questions,.course-content-page,.hero_sec) .users-list .avatar{width: 2.375rem;height: 2.375rem;margin-left: -1.0rem;}
:is(.questions,.course-content-page) .followers_number p{line-height: normal;font-size: 16px;}
:is(.questions,.course-content-page) .hero_sec .title{font-size: 50px;}
:is(.questions,.course-content-page) .hero_sec .info{z-index: 1;}
.questions p{color: #919191;font-size: 20px;}
.questions .que_box{border-right:14px solid #E8E8E8}
.questions .que_box:hover, .que_box.active{border-right:14px solid var(--secondary)}
.questions .que_answer label{color: #222;background-color: #F3F3F3;cursor: pointer;}
.questions input[type="radio"]:checked + label {background-color: var(--secondary);color: #fff ;}

ol.que_answer {list-style: none;}
ol.que_answer > li::before {
  display: inline-block;
  width: 1em;
  font-weight: bold;
  text-align: center;
  direction: ltr;
  margin: 0 8px;
}
ol.que_answer > li:nth-child(1)::before  { content: "أ"; }
ol.que_answer > li:nth-child(2)::before  { content: "ب"; }
ol.que_answer > li:nth-child(3)::before  { content: "جـ"; }
ol.que_answer > li:nth-child(4)::before  { content: "د"; }
ol.que_answer > li:nth-child(5)::before  { content: "هـ"; }
ol.que_answer > li:nth-child(6)::before  { content: "و"; }
ol.que_answer > li:nth-child(7)::before  { content: "ز"; }
ol.que_answer > li:nth-child(8)::before  { content: "حـ"; }
ol.que_answer > li:nth-child(9)::before  { content: "ط"; }
ol.que_answer > li:nth-child(10)::before { content: "ى"; }
ol.que_answer > li:nth-child(11)::before { content: "كـ"; }
ol.que_answer > li:nth-child(12)::before { content: "ل"; }
ol.que_answer > li:nth-child(13)::before { content: "مـ"; }
ol.que_answer > li:nth-child(14)::before { content: "ن"; }
ol.que_answer > li:nth-child(15)::before { content: "س"; }
ol.que_answer > li:nth-child(16)::before { content: "عـ"; }
ol.que_answer > li:nth-child(17)::before { content: "ف"; }
ol.que_answer > li:nth-child(18)::before { content: "صـ"; }
ol.que_answer > li:nth-child(19)::before { content: "ق"; }
ol.que_answer > li:nth-child(20)::before { content: "ر"; }
ol.que_answer > li:nth-child(21)::before { content: "ش"; }
ol.que_answer > li:nth-child(22)::before { content: "ت"; }
ol.que_answer > li:nth-child(23)::before { content: "ث"; }
ol.que_answer > li:nth-child(24)::before { content: "خـ"; }
ol.que_answer > li:nth-child(25)::before { content: "ذ"; }
ol.que_answer > li:nth-child(26)::before { content: "ضـ"; }
ol.que_answer > li:nth-child(27)::before { content: "ظ"; }
ol.que_answer > li:nth-child(28)::before { content: "غـ"; }


/* ======================================= */
.statistics,.categories{background-color: var(--gray-bg);}
:is(.popular-courses,.courses,.coursesPage,.books_list,.nominated-courses ) .link-arrow{background-color: #ffecdf !important;color: var(--secondary);padding: 10px 16px;transform: rotate(50deg);cursor: pointer;}
:is(.popular-courses,.courses,.coursesPage,.books_list,.nominated-courses) .link-arrow:hover{background-color: var(--secondary) !important;color: #fff;}
:is(.statistics,.achievement,section.about .messages) p{color: var(--gray-text);font-size: 18px;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {top: 9px}
#navs-justified-about :is(h3,.title)::before {color: var(--secondary);content: "—";margin: 0 10px;}
#navs-justified-rating .comment img{cursor: pointer;}



/* ============ filter by price ============= */
.price-filter {width: 300px;}
.price-filter .slider-labels {margin-top: 10px;}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
 .noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: var(--secondary);
}

/* price filter Styling;*/
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: var(--secondary);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}



/* ============== pagination =============== */
#paginationCard .card_pagination{display: none;}
#pagination li{margin: 0 5px;}
#pagination li a{
  border-radius: 50%;
  width: 32px;
  text-align: center;
  font-size: 12px;
  background-color: #ffecdf;
  border: 0;
  color: var(--secondary);
  font-weight: bold;
}
#pagination li a:focus{box-shadow: 0 0 0;}
#pagination .page-item .active {background-color: var(--secondary);color: #fff;width: 40px;font-size: 18px;}
:is(#nextPageBtn, #prevPageBtn) span{font-size: 20px;color: var(--secondary);}
#pagination li a:is(#nextPageBtn, #prevPageBtn){background-color: transparent;}
#nextPageBtn, #prevPageBtn{font-size: 20px;}

/*================== swipper =============*/
.card__container {padding-bottom: 2rem;} 
.card__content {margin-inline: 2rem;border-radius: 1.25rem;overflow: hidden; padding: 30px 10px; margin: 0;}
.card__article {width: 300px;border-radius: 1.25rem;overflow: hidden;}
.card__image {position: relative;background-color: var(--first-color-light);padding-top: 1.5rem;margin-bottom: -.75rem;overflow: hidden;}
.card__data {background-color: var(--container-color);padding: 1.5rem 2rem;border-radius: 1rem;position: relative;z-index: 10;}
.card__img {width: 180px;margin: 0 auto;position: relative;z-index: 5; }
.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}
.card__description {font-weight: 500;margin-bottom: 1.75rem;}
/* Swiper class */
.swiper-button-prev:after,.swiper-button-next:after {content: "";}
.swiper-button-prev,.swiper-button-next {width: initial;height: initial;font-size: 2rem;color: var(--second-color);/* display: none; */}
.swiper-button-prev {left: 50px;}
.swiper-button-next {right: 50px;}
.swiper-pagination-bullet {background-color: #CFD3D6;opacity: 1;}
.swiper-pagination-bullet-active {background-color: var(--secondary);}
.swiper-button-next .fa-angle-right, .swiper-button-prev i{
    font-size: 18px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #979797;
    border-radius: 50%;
    padding: 9px 12px;
}
.swiper-button-next i:hover, .swiper-button-prev i:hover {background-color: var(--secondary);color: #fff;}