@media (max-width:1200px) and (min-width:991px) {
    .navbar .nav-link{margin-left: 0 !important;margin-right: 0 !important;font-size: 14px;}
    .navbar .lang{padding: 0 4px !important;}
    footer .logo img{width: 250px;}
    footer .social ul{flex-wrap: wrap;}
    footer .social a {margin: 0 0 10px;}
}
@media (min-width:991px) {
    .register .welcome{position: fixed;width: 50%;}
}
@media (max-width:991px) {
    .navbar .active::before{display: none;}
    .navbar-toggler:focus{box-shadow: 0 0 0;}
    .navbar .nav-link {display: inline-block;margin-bottom: 10px;}
    .navbar form {margin: 18px 0;}
    .navbar .lang{position: relative !important;}

    .hero_sec .img img{margin-top: 0;}
    .hero_sec p{font-size: 25px;line-height: 40px;}
    .swiper-button-prev {left: 10px;}
    .swiper-button-next {right: 10px;}
    
    .contact-us .d-flex{display: block !important;}
    .contact-us .queText{direction: rtl;}
    .contact-us .queText p{direction: rtl;}
    
    .about .about-text{width: 100% !important;font-size: 16px;}
    .about .intro-content{width: 100% !important;margin-top: 20px;}
    :is(.statistics,.achievement,section.about .messages) p{font-size: 16px;}
    .about .statistics h2{font-size: 30px !important;}
    .about .aim h2{margin-top: 20px;}

    .left-class{order: 0;}
    .right-class{order: 1;}
    .center-class{order:2}
}

@media (max-width:768px) {
    .hero_sec .desc {font-size: 25px;line-height: 40px;}
    .courses .swiper-button-prev {left: 20%;}
    .courses .swiper-button-next {right: 20%;}
    .books_list .card__article{width: 100%;}

    .hero_sec p{font-size: 14px;}
    .hero_sec,.workSection, .statistics {padding: 0 15px !important;}
    section.coursesPage .hero_sec .info .content,
    section.coursesPage .filter :is(.category,.trainers,.rating,.coursesFilter,.prices, .dateFilter) p{font-size: 14px;}
    section.coursesPage .filter .rating img{width: 14px;} 
    section.coursesPage #paginationCard .card_category{left: 30px;top: 23px;}
    .section_title{font-size: 34px;}
    section.about .story img{height: 25px;}
    .blog-details .header{padding: 40px 0;}
    .blog-details .header p{font-size: 16px;}
    .join_us .title{font-size: 20px;}
    .register .intro{padding: 40px 20px !important;}
    .register .intro{padding: 40px 20px !important;}
    .register section{padding: 0 !important;}
    section.coursesPage .filter{padding: 0 10px !important;}
    .course-content-page .course-lec{padding: 0 10px !important;}
    .course-content-page .video_parent{height: auto;}
    .policies {padding: 0 15px !important;}
    .coursesPage .list_view{display: none !important;}
}

@media (max-width:575px) {
    section.about .achievement .data h3{font-size: 18px;}
    section.about .achievement .data p{font-size: 14px;}
    section.about .achievement .data .img{padding: 10px !important;}
    section.about .achievement .data img{width: 30px;}
    .swiper-button-prev, .swiper-button-next{display: none;}
    .nav.nav-tabs{font-size: 12px;padding: 0;}
    .sign-completed .logo{max-width: 170px;}
    section.about .hero_sec .content {line-height: 30px;font-size: 14px;width: 100%;}
    section.about .achievementSec .info .data{direction: ltr;}
    section.about .achievementSec .info .text-start{text-align: center !important;}
    .develope .develop-btns{justify-content: start !important;}

    .books .hero_sec .img{height: 270px;}
    .blogs .news-cards{padding: 0 10px !important;}
    .blogs .filter-by-date{flex-wrap: wrap;}
    .workWay{background-size: cover;}
    .policies_page .header h1 {font-size: 50px;}
}

@media (max-width:400px) {
    section.about .achievementSec .info .row{flex-direction: column;}
}
